 .task {
    color: white;
    width:200px;
    height: 180px;
    background-color: #71357C;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-around;
 }
.task__head--avatar {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: blue;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;

}

.number {
    /* display: inline-block; */
    border: 1px solid;
    background-color: red;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    z-index:4;
    top: 0;
    left: 0;
}
/* z-index:0; */

.avatar1 {
    margin-left: -10px;
    z-index:3;
    left:50px;
}

.avatar2 {
    margin-left: -20px;
    /* z-index: 2; */
    top:0;
    left:100px;
}

 .task__title {
    font-size: 20px;
 }

 p {
    margin: 0;
 }

 .task__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }


.task__head--more {
    width: 24px;
    height: 24px;
    color: white;
    cursor: pointer;
}
 

 span {
    opacity: 0.8;
 }