* {
    padding: 0;
    margin: 0;
}

.container {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form {
    width: 50%;
}

.pic {
    width: 50%;
    height: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
input {
    margin-left: 3em;
    margin-right: 3em;
    padding: 1.4em;
    background-color: rgba(128, 128, 128, 0.16);
    border: none;
}
.button {
    text-decoration: none;
    background-color:black;
    border: none;
    outline: none;
    color: white;
    padding: 15px 82px;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    cursor: pointer;
    transition: opacity 0.2s;
}
.button:hover {
    opacity:.8;
}
.username {
    margin-top: 1em;
}
.password {
    margin-top: 1em;
}
