:root {
    --text-color: black;
    --text-font: sans-serif;
}
h2 {
    color: var(--text-color);
    font-size: 20px;
    font-family: var(--text-font);
    font-weight: 300;
    padding-left: 60.1%;
    margin-top: -480px;
    margin-bottom: 0px;
}
h3{
    font-family: var(--text-font);
    font-size: 13px;
    font-weight: 300;
}
.remember {
    font-family: var(--text-font);
    font-size: 13px;
    font-weight: 300;
    margin-top: -5px;
    margin-bottom: 10px;
}
.remember input {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 3px;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 10px;
}
.form_img img {   
    padding-left: 25%;
    margin-top: 20px;
    width: 483px;
    height: 586px; 
}
.Login {
    margin-top: 30px;
    padding-left: 59.5%;
    width: 431px;
    height: 532px;
}
.form-email {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 12px;
}
.form-pass {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 12px;
}
.form-email input {
    padding-left: 10px;
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}
.form-pass input {
    padding-left: 10px;
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}
button {
    font-size: 12px;
    width: 283px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color:aliceblue;
    background-color:rgb(33, 103, 173); 
    margin-left: 10px;
}
button:hover{
    font-size: 14px;
}
h3 {
    padding: 10px;
    font-family: var(--text-font);
}
b {
    font-weight: 500;
    font-size: 13px;
}
.g_id_signin {
    width: 283px;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 283px;
    
    
}
